<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccb.hello.spring.boot.thymeleaf.dao.TesttableMapper">
  <resultMap id="BaseResultMap" type="com.ccb.hello.spring.boot.thymeleaf.entity.Testtable">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="systemname" jdbcType="VARCHAR" property="systemname" />
    <result column="deplymentname" jdbcType="VARCHAR" property="deplymentname" />
    <result column="unittype" jdbcType="VARCHAR" property="unittype" />
    <result column="hostname" jdbcType="VARCHAR" property="hostname" />
    <result column="entertime" jdbcType="VARCHAR" property="entertime" />
  </resultMap>


  <select id="getTestTypeByNameIsDepname" parameterType="com.ccb.hello.spring.boot.thymeleaf.entity.Testtable"  resultType="com.ccb.hello.spring.boot.thymeleaf.entity.Testtable">
    select * from testtable
    <where>
      <if test="deplymentname != null and deplymentname !=''">
        deplymentname = #{deplymentname}
      </if>
    </where>

  </select>
</mapper>