<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试数据增加页</title>
</head>
<body>
<form method="post" action="/testtablefront/testselect">
    <input type="hidden" name="id"/>
    系统名;<input type ="text" name="systemname" />
    布署名：<input type ="text" name="deplymentname"/>
    单元类型：<input type ="text" name="unittype"/>
    主机名;<input type ="text" name="hostname"/>
    <input type ="submit" value="提交"/>
</form>
</body>
</html>